img {
  width: 60%;
  padding-top: 20%;
}

/* .lingkaran {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
} */

.crop-img {
  object-fit: contain;
}
